xml/recipe_book_xsd.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="RecipeBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Recipe"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Type"/>
        <xs:element ref="Name"/>
        <xs:element ref="Weight"/>
        <xs:element ref="RecipeText"/>
        <xs:element ref="Ingredient"/>
      </xs:sequence>
      <xs:attribute name="calories" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Type" type="xs:string"/>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="Weight" type="xs:string"/>
  <xs:element name="RecipeText" type="xs:string"/>
  <xs:element name="Ingredient">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NCName">
          <xs:attribute name="amount" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
